@font-face {
  font-family: 'PFDinTextCondPro-Regular';
  src: url('PFDinTextCondPro-Regular.eot');
  src: url('PFDinTextCondPro-Regular.woff2') format('woff2'),
       url('PFDinTextCondPro-Regular.woff') format('woff'),
       url('PFDinTextCondPro-Regular.ttf') format('truetype'),
       url('PFDinTextCondPro-Regular.svg#PFDinTextCondPro-Regular') format('svg'),
       url('PFDinTextCondPro-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

