@font-face {
  font-family: 'PFDinTextCondPro-Medium';
  src: url('PFDinTextCondPro-Medium.eot');
  src: url('PFDinTextCondPro-Medium.woff2') format('woff2'),
       url('PFDinTextCondPro-Medium.woff') format('woff'),
       url('PFDinTextCondPro-Medium.ttf') format('truetype'),
       url('PFDinTextCondPro-Medium.svg#PFDinTextCondPro-Medium') format('svg'),
       url('PFDinTextCondPro-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

