//@import "../font/PFDinTextCondPro-Regular/font.css";

//@font-face {
//  font-family: 'PFDinTextCondPro-Regular';
//  src: url('../font/PFDinTextCondPro-Regular.ttf');
//}

$theme-colors: (
        "primary": #b0ca1f,
  //"primary": #97af13,
        "dark": #2d2740
);

@import "~bootstrap/scss/bootstrap";

@import "~bootstrap-slider/src/sass/bootstrap-slider.scss";

@import "bootstrap-multiselect";

@font-face {
  font-family: 'Cond Pro';
  src: url('../font/PFDinTextCondPro-Regular/PFDinTextCondPro-Regular.eot');
  src: url('../font/PFDinTextCondPro-Regular/PFDinTextCondPro-Regular.woff2') format('woff2'),
  url('../font/PFDinTextCondPro-Regular/PFDinTextCondPro-Regular.woff') format('woff'),
  url('../font/PFDinTextCondPro-Regular/PFDinTextCondPro-Regular.ttf') format('truetype'),
  url('../font/PFDinTextCondPro-Regular/PFDinTextCondPro-Regular.svg#PFDinTextCondPro-Regular') format('svg'),
  url('../font/PFDinTextCondPro-Regular/PFDinTextCondPro-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cond Pro';
  src: url('../font/PFDinTextCondPro-Bold/PFDinTextCondPro-Bold.eot');
  src: url('../font/PFDinTextCondPro-Bold/PFDinTextCondPro-Bold.woff2') format('woff2'),
  url('../font/PFDinTextCondPro-Bold/PFDinTextCondPro-Bold.woff') format('woff'),
  url('../font/PFDinTextCondPro-Bold/PFDinTextCondPro-Bold.ttf') format('truetype'),
  url('../font/PFDinTextCondPro-Bold/PFDinTextCondPro-Bold.svg#PFDinTextCondPro-Bold') format('svg'),
  url('../font/PFDinTextCondPro-Bold/PFDinTextCondPro-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cond Pro';
  src: url('../font/PFDinTextCondPro-Medium/PFDinTextCondPro-Medium.eot');
  src: url('../font/PFDinTextCondPro-Medium/PFDinTextCondPro-Medium.woff2') format('woff2'),
  url('../font/PFDinTextCondPro-Medium/PFDinTextCondPro-Medium.woff') format('woff'),
  url('../font/PFDinTextCondPro-Medium/PFDinTextCondPro-Medium.ttf') format('truetype'),
  url('../font/PFDinTextCondPro-Medium/PFDinTextCondPro-Medium.svg#PFDinTextCondPro-Medium') format('svg'),
  url('../font/PFDinTextCondPro-Medium/PFDinTextCondPro-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cond Pro';
  src: url('../font/PFDinTextCondPro-Light/PFDinTextCondPro-Light.eot');
  src: url('../font/PFDinTextCondPro-Light/PFDinTextCondPro-Light.woff2') format('woff2'),
  url('../font/PFDinTextCondPro-Light/PFDinTextCondPro-Light.woff') format('woff'),
  url('../font/PFDinTextCondPro-Light/PFDinTextCondPro-Light.ttf') format('truetype'),
  url('../font/PFDinTextCondPro-Light/PFDinTextCondPro-Light.svg#PFDinTextCondPro-Light') format('svg'),
  url('../font/PFDinTextCondPro-Light/PFDinTextCondPro-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../font/Fontfabric - MullerRegular/MullerRegular.eot');
  src: url('../font/Fontfabric - MullerRegular/MullerRegular.woff2') format('woff2'),
  url('../font/Fontfabric - MullerRegular/MullerRegular.woff') format('woff'),
  url('../font/Fontfabric - MullerRegular/MullerRegular.ttf') format('truetype'),
  url('../font/Fontfabric - MullerRegular/MullerRegular.svg#MullerRegular') format('svg'),
  url('../font/Fontfabric - MullerRegular/MullerRegular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@import "main-page";
@import "style";
