@import "theme";

.main-page {
  font-family: 'Cond Pro', sans-serif;

  /** LINES BELOW NOT SUPPOSED TO BE HERE */

  input[type="text"].custom-input {
    border-radius: 0;
    border: 1px solid theme-color("primary");
    font-size: 20pt;
    line-height: 2em;
    height: 2em;
    padding: 3px 10px;
    text-transform: uppercase;
  }

  button.custom-button {
    border-radius: 0;
    border: none;
    background-color: theme-color("primary");
    color: white;
    font-size: 20pt;
    line-height: 150%;
    padding: 7px 0 5px;
    height: auto;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 4px;
    cursor: pointer;
  }

  /*.common-input {
    margin: 10px 0;
    width: 100%;
    line-height: 1005;
    padding: 4px;
  }*/

  .main-navbar{
    text-transform: uppercase;
    /*background-color: transparent;
    position: absolute;
    margin: 50px 0 0 -50%;
    left: 50%;*/


    /*.navbar-brand {
      width: 50px;
      text-align: center;

      background-color: #b0ca1f;
    }*/

    .navbar-nav {
      .nav-item {
        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }

  /** LINES BELOW SUPPOSED TO BE HERE */

  .current-city-name {
    text-decoration: underline;
  }



  .main-banner-route {
    background: url('../img/woomen.png') no-repeat no-repeat 20% bottom,
    url('../img/airplane.png') no-repeat no-repeat 80% 50%,
    linear-gradient(180deg, transparent 95%, #f5f5f5 95%),
    linear-gradient(90deg, theme-color("primary") 30%, white 30%);

    background-size: auto 80%, auto 80%, 100%, 100%;

    .create-route-form {
      text-transform: uppercase;

      margin: 80px 50px 120px;
      //margin: 120px 50px;

      .create-route-header {
        color: theme-color("primary");
        text-align: center;
        font-weight: bolder;
        font-size: 2.4em;
        line-height: 120%;
      }

      .create-route-label {
        font-size: 20pt;
      }

      .create-route-button {

      }
    }
  }
}

.main-banner-promo {
  background: url('../img/man.png') no-repeat no-repeat 80% bottom,
  #f5f5f5 linear-gradient(180deg, transparent 95%, theme-color("dark") 95%);
  //padding-bottom: ;

  .banner-promo {
    padding: 100px 40% 150px 0;

    .promo-header {
      text-transform: uppercase;
      font-weight: bolder;
    }

    .promo-text {
      font-size: 20pt;
    }

    .promo-try-button {
      width: 80%;
      margin: 10px;
    }
  }
}

.footer-logo {
  background: url('../img/2gis.png') no-repeat no-repeat left center;
}
