html {
  height: 100%;
}

body.landik-pages {
  .slider.slider-horizontal:hover, .slider.slider-vertical:hover { .tooltip.tooltip-main { opacity: 1 !important; } }

  min-height:100%;
  position:relative;
  padding-bottom: 100px;

  font-family: "Muller", sans-serif;

  a {
    color: #000;
    text-decoration: none;
  }

  a:hover {
    color: #b0ca1f;
    text-decoration: none;
  }

  .footer {
    position: absolute;
    width: 100%;
    height: 100px;

    left: 0;
    bottom: 0;

    background-color: #2d2740;
  }

  .bg-gray {
    background-color: #f5f5f5;
  }

  .bd-green {
    border-color: #b0ca1f;
    border-radius: 0;
  }

  .bd-green:focus {
    border-color: #b0ca1f;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(176, 202, 31, 0.6);
  }

  .font-pfd-bold {
    font-family: 'Cond Pro', sans-serif;
    font-weight: bold;
  }

  .font-pfd-medium {
    font-family: 'Cond Pro', sans-serif;
    font-weight: 500;
  }

  .font-pfd-regular {
    font-family: 'Cond Pro', sans-serif;
    font-weight: normal;
  }

  .font-pfd-light {
    font-family: 'Cond Pro', sans-serif;
    font-weight: 300;
  }

  .font-mul-regular {
    font-family: 'Muller', sans-serif;
    font-weight: normal;
  }

  .green-btn {
    background-color: #b0ca1f;
    color: #fff;
    border-radius: 0;
  }

  .h4-btn {
    font-size: 1.5rem;
  }

  .text-color-b0ca1f {
    color: #b0ca1f;
  }

  /*Иконки сортировки*/
  .sort-down::before,
  .sort-up::before {
    background-image: url("../img/sort.png");
    content: '';
    display: inline-block;
    height: 14px;
    width: 14px;
    margin-right: 5px;
    position: relative;
    top: 1px;

  }

  .sort-down::before {
    background-position-x: 0;
  }

  .sort-up::before {
    background-position-x: 14px;
  }

  /*Стилизация списка лучших маршрутов*/
  .news-list {
  }

  .news-list img {
    width: 230px;
  }

  /*Стилизация звездочек*/
  .stars {
    background-image: url("../img/stars.png");
    height: 14px;
    max-width: 100px;
  }

  .stars-b {
    background-image: url("../img/starsb.png");
    height: 25px;
    max-width: 150px;
  }

  /*слайдер аля бегунок выбора цен*/
  #sp1 .slider-handle,
  #scp .slider-handle {
    background: #b0ca1f;
  }

  #sp1 .slider-selection,
  #scp .slider-selection {
    background: #b0ca1f;
  }

  /*Стилизация выпадающих мультисписков*/
  .multiselect-native-select, .multiselect-native-select
  .btn-group, .multiselect-native-select .btn {
    background-color: white;
    width: 100%;
  }

  .multiselect-native-select .btn {
    text-align: left;
    background-color: transparent;
    border: 1px solid #b0ca1f;
    border-radius: 0;
    box-shadow: none;
  }

  .multiselect-native-select .dropdown-toggle::after {
    border: none;
    width: 21px;
    height: 12px;
    background: url(../img/g-arrow.png) no-repeat;
    vertical-align: middle;
    position: absolute;
    top: 12px;
    right: 13px;
  }

  .multiselect-native-select .multiselect-container {
    width: 100%;
    border: 1px solid #b0ca1f;
    padding: 10px 0;
    border-radius: 0;
    //background-color: #f5f5f5;
    background-color: white;
  }

  .multiselect-native-select .multiselect-container li {
  }

  .multiselect-native-select .multiselect-container li a {
    display: block;
    text-decoration: none;
    padding: 3px;
  }

  .multiselect-native-select .multiselect-container li label {
    display: block;
    font-family: 'Muller', sans-serif;
    color: #000;
  }

  .multiselect-native-select .multiselect-container li a:focus,
  .multiselect-native-select .multiselect-container li label:focus {
    outline: none;
  }

  .multiselect-native-select .multiselect-container li label {
    padding-left: 20px;
  }

  .multiselect-native-select .multiselect-container li label::before {
    content: '';
    display: inline-block;
    background-image: url("../img/chek.png");
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
  }

  .multiselect-native-select .multiselect-container li.active label::before {
    background-position-x: 16px;
  }

  .multiselect-native-select .multiselect-container li input {
    display: none;
  }

  /*Стилизация левого меню со списком популярных маршрутов*/
  .route-list {
  }

  .route-item {
  }

  .route-item.active,
  .route-item:hover {
    background-color: #ffffff;
  }

  .route-item:hover::after,
  .route-item.active::after {
    content: '';
    background-image: url("../img/r-arrow.png");
    display: inline-block;
    width: 22px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    right: 15px;
  }

  /*СТилизация элементов на детальной странице*/
  .item-area {
  }

  .item-area-num {
    background-color: #f5f5f5;
    text-align: center;
  }

  .item-area-num span {
    font-family: 'Cond Pro', sans-serif;
    color: #b0ca1f;
    font-size: 3rem;
    text-align: center;
  }

  /*Кнопки удаления и замены места в генераторе маршрута*/
  .reverse-btn,
  .delete-btn {
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-left: 3px;
  }

  .reverse-btn {
    background-image: url("../img/reverse.png");
  }

  .delete-btn {
    background-image: url("../img/del.png");
  }

  .hr-green {
    display: block;
    width: 100%;
    border: 1px solid #b0ca1f;
  }

  .dog {
    display: inline-block;
    position: absolute;
    height: 172px;
    width: 100px;
    right: -30px;
    bottom: 10px;
    background: url("../img/dog.png") center center no-repeat;
    background-size: contain;
  }

  .place-list {


    .place-item {
      padding: 25px;

      &:not(:last-child) {
        border-bottom: 1px solid #b0ca1f;
      }
    }
  }
}

//html, body {
//  height: 100%;
//}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
  body.landik-pages {
    .header {
      height: 110px;
    }
  }
}
