@font-face {
  font-family: 'PFDinTextCondPro-Light';
  src: url('PFDinTextCondPro-Light.eot');
  src: url('PFDinTextCondPro-Light.woff2') format('woff2'),
       url('PFDinTextCondPro-Light.woff') format('woff'),
       url('PFDinTextCondPro-Light.ttf') format('truetype'),
       url('PFDinTextCondPro-Light.svg#PFDinTextCondPro-Light') format('svg'),
       url('PFDinTextCondPro-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

